
   

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading black">Please sign in</h2>
        <input class="form-control" placeholder="Email address" id="email" autofocus="" type="email">
        <input class="form-control" placeholder="Password" id="password" type="password">
        <div class="checkbox">
          <label>
            <div class="black"><input value="remember-me" type="checkbox"> Remember me</div>
          </label>
        </div>
        <%= link_to "Sign in", profile_path, class: "btn btn-lg btn-primary btn-block" %>
      </form>

      <%= link_to "Register", new_user_path, class: "btn btn-lg btn-primary" %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

<style>
body {
    background-color: #eee;
    padding-bottom: 40px;
    padding-top: 40px;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.black {
  color: black;
}
</style>